

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/profile.css">

    <title>Main page</title>
</head>
<body class="centrado">
    
    <div class="box">
        <div class="box-content">
    <div>
        <h1 style="font-size: 60px;">Main page</h1>
    </div>
    <div class="botones">


        <button class="btn btn-outline-primary"><a href="/login">Login</a></button>
        <button class="btn btn-outline-primary"><a href="/sign-up">Sign Up</a></button>
        
    </div>
</div>
</div>
    </body>
    <script src="../static/js/index.js?token="></script>
</html>