{% from "_formsH.html" import render_field %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\signin.css">

    <title>Login</title>
</head>
<body>
    <div class="cuerpo">
        <div class="lado_izquierdo">
            <div class="logo">
                <img src="" alt="">
                <h2>Your Logo</h2>
            </div>
            <div class="textos">
                <h1>Sign In</h1>
                <h3>Your Account</h3>
            </div>
            <div class="form">
              <form method=post class="formulario">
                
                  {{ render_field(form.username) }}
                  {{ render_field(form.password) }}
                
                <input type="submit" class="btn btn-primary" value="Register">
              </form>
            </div>
            <div class="textos">
                <h3>¿No tienes cuenta? <a href="/sign-up">Regístrate</a></h3>
            </div>

        </div>
        <div class="lado_derecho">
            <div id="lienzo">
                <div class="cuarto-circulo3">

                </div>
                <div class="cuarto-circulo3" style="right: 2.5%;">

                </div>
                <div class="cuarto-circulo4" style="right: 13%;">

                </div>
                <div class="circle" style="top: 30%;">
                    
                </div>
                <div class="cuarto-circulo1" style="top: 30%; left: 70%;">

                </div>
                <p class="circle" style="top: 30%; left:85%"></p>
                <div class="cuarto-circulo2" style="top: 53.5%;">
                    
                </div>

                <div class="semi-circulo1" style="top:53.5%; right: 2.5%;">

                </div>
                <p class="cuarto-circulo4" style="bottom: 3.5%;"> <p>
                <p class="circle" style="bottom: 3.5%; left:70%;"></p>
                <p class="cuarto-circulo2" style="bottom: 3.5%; right:2.5%; background-color: rgb(0, 0, 0);" ></p>
            </div>
        </div>
    </div>
</body>
<script src="../static/js/index.js?token="></script>
</html>